

{% extends 'admin/adminindex.html' %}
{% block body %}

    <script>
function validatePassword() {
  if (document.getElementById('new').value == document.getElementById('confirm').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>


<form  action="/myapp/admin_change_password_post/#about" method="post">
{% csrf_token %}
  <div class="container">

          <div class="row">
  <div class="mx-auto ">
<h1 class="text-center my-3" >CHANGE PASSWORD</h1>
      <hr>

    <table class="table table-bordered">
       <tr>
           <td width="180px"> <label for="uname"><b>Old Password</b></label></td>
           <td>    <input type="text" class="form-control " id="old"     placeholder="Enter Old Password" name="old_password" required ></td>
       </tr>

   <tr>
        <td><label for="psw"><b>New Password</b></label></td>
        <td><input  type="password" id="new"   onkeyup="validatePassword();" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  placeholder="Enter New Password" name="new_password"  ></td>
   </tr>

       <tr>
           <td> <label for="psw"><b>Confirm Password</b></label></td>
           <td>    <input class="form-control  id="confirm"  onkeyup="validatePassword();" type="password" placeholder="Enter Confirm Password" name="con_password" required > <span id='message'></span></td>
      </td>

       </tr>


   </table>
      <div class="text-center">
          <td></td>
          <input type="submit"  value="submit" class="btn btn-outline-success ">
      </div>
 </div>
              <br>



</form>
{% endblock %}
