{% extends 'admin/adminindex.html' %}
{% block body %}
<form method="post" action="/myapp/view_aproved_Comapany_post/#about">
    {% csrf_token %}
<table  class="pull-left ">
        <tr>
            <td><input type="text" class="form-control" name="searching" placeholder="Enter Company Name "></td>
            <td><input type="submit" class="btn btn-outline-primary rounded-start-5" value="Search"></td>
        </tr>

    </table>
<br>
    <table class="table table-bordered">
         <tr>


             <th>Sl No</th>
             <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Logo</th>
             <th>Address</th>


        </tr>


        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>

                {{ i.name }}
            </td>
            <td>{{ i.email  }}</td>
            <td>{{ i.phone }}</td>

            <td width="150px"><img src="{{ i.logo }}" width="150px" height="150px"><br></td>
            <td>
                {{ i.place }}<br>
                {{ i.pin }}<br>
                {{ i.post }}

            </td>

        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
