{% extends 'admin/adminindex.html' %}
{% block body %}
<form method="post" action="/myapp/view_rejected_Comapany_post/#about">
    {% csrf_token %}
<table  class="pull-left ">
        <tr>
            <td><input type="text" class="form-control" name="searching" placeholder="Enter Company Name "></td>
            <td><input type="submit" class="btn btn-outline-primary rounded-start-5" value="Search"></td>
        </tr>

    </table>

<br>
    <table class="table table-bordered" border="1">
         <tr>


             <th>SNo</th>
             <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Logo</th>
             <th>Address</th>
<th></th>

        </tr>


        {% for i in data %}
        <tr>
            <td width="50px">{{ forloop.counter }}</td>
            <td>

                {{ i.name }}
            </td>
            <td>{{ i.email  }}</td>
            <td>{{ i.phone }}</td>

            <td><img src="{{ i.logo }}" width="200px" height="200px"><br></td>
            <td>
                {{ i.place }}<br>
                {{ i.pin }}<br>
                {{ i.post }}

            </td>

        <td width="50px">

            <a href="/myapp/admin_view_jobs/{{ i.id }}" class="btn btn-success">Jobs</a>

        </td>

        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
