<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/admin_change_password/">Change password</a>
<a href="/myapp/category/">category</a>
<a href="/myapp/view_category/">view_category</a>
<a href="/myapp/add_skill/">add_skill</a>
<a href="/myapp/view_skill/">view_skill</a>
<a href="/myapp/view_user/">view_user</a>
<a href="/myapp/view_aproved_Comapany/">view_aproved_Comapany</a>
<a href="/myapp/view_Company/">view_Company</a>
<a href="/myapp/view_rejected_Comapany/">view_rejected_Comapany</a>
<a href="/myapp/view_complaint/">view_complaint</a>
<a href="/myapp/view_review/">view_review</a>
<a href="/myapp/view_user/">view_user</a>

<a href="/myapp/logout/">logout</a>

</body>
</html>