<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/company_change_password/">Change password</a>
<a href="/myapp/company_profile/">Profile</a>
<a href="/myapp/add_jobs/">Add_jobs</a>
<a href="/myapp/view_jobs/">view_jobs</a>
<a href="/myapp/add_job_skill/">add_job_skill</a>
<a href="/myapp/view_jobs_skill/">view_jobs_skill</a>
<a href="/myapp/view_job_review/">view_job_review</a>
<a href="/myapp/view_job_application/">view_job_application</a>
<a href="/myapp/view_confirmed_job_application/">view_confirmed_job_application</a>
<a href="/myapp/view_rejected_job_application/">view_rejected_job_application</a>
<a href="/myapp/logout/">logout</a>



</body>
</html>