<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/myapp/company_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table border="1">

        <tr>
            <th>Name</th>
            <td><input type="text" name="name"  required pattern="[a-z A-Z]+"></td>
        </tr>  <tr>
            <th>Email</th>
            <td><input type="email" name="email" ></td>
        </tr>  <tr>
            <th>Phone</th>
            <td><input type="text" name="phone" required pattern="[6789][0-9]{9}" ></td>
        </tr>

        <tr>
            <th>image</th>
            <td><input type="file" name="image" ></td>
        </tr>
        <tr>
            <th>Place</th>
            <td><input type="text" name="place" required pattern="[a-z A-Z]+" ></td>
        </tr>
        <tr>
            <th>Pin</th>
            <td><input type="text" name="pin" pattern="[123456789][0-9]{5}"></td>
        </tr>
        <tr>
            <th>Post</th>
            <td><input type="text" name="post" required pattern="[a-z A-Z]+" ></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" name="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  ></td>
        </tr><tr>
            <th>Confirm password</th>
            <td><input type="password" required name="confirm" ></td>
        </tr>
         <tr>
            <th></th>
            <td><input type="submit"  ></td>
        </tr>
    </table>
</form>
</body>
</html>