{% extends 'Company/companyindex.html' %}
{% block body %}

<form method="post" action="/myapp/edit_company_post/#about" enctype="multipart/form-data">
    {% csrf_token %}
<center>
    <div>
    <div class="col-6">
            <table class="table table-bordered" width="20">

        <tr>
            <input type="hidden" value="{{ data.id }}" name="id">
            <th>Name</th>
            <td ><input type="text"  class="form-control" value="{{ data.name }}" name="name" ></td>
        </tr>
{#        <tr>#}
{#            <th>Email</th>#}
{#            <td><input type="email"  value="{{ data.email }}" name="email" ></td>#}
{#        </tr>#}
        <tr>
            <th>Phone</th>
            <td><input type="text"  class="form-control"  value="{{ data.phone }}" name="phone" ></td>
        </tr>

        <tr>
            <th>image</th>
            <td><input type="file"   class="form-control" value="" name="image" ><br>
            <img src="{{ data.logo }}" width="200px" height="200px">
            </td>
        </tr>
        <tr>
            <th>Place</th>
            <td><input type="text"  class="form-control" value="{{ data.place }}" name="place" ></td>
        </tr>
        <tr>
            <th>Pin</th>
            <td><input type="text"  class="form-control" name="pin" value="{{ data.pin }}" ></td>
        </tr>
        <tr>
            <th>Post</th>
            <td><input type="text"  class="form-control" name="post" value="{{ data.post }}" ></td>
        </tr>

         <tr>
            <th></th>
            <td><input type="submit"  class="btn btn-outline-info" ></td>
        </tr>
    </table>

    </div>
</div>

</center>
</form>
{% endblock %}