{% extends 'Company/companyindex.html' %}
{% block body %}


<form method="post" action="/myapp/view_job_review_post/#about">
{% csrf_token %}


    <table class="pull-left ">

    <tr>
        <td>From</td>
        <td>
            <input type="date" placeholder="" required name="f" class="form-control">
        </td>
        <td>To</td>
         <td>
            <input type="date" placeholder="" required name="t" class="form-control">
        </td>
        <td>
            <input type="submit" value="Search" class="btn btn-outline-primary rounded-start-5">
        </td>
    </tr>
</table>
<br>

<table  class="table table-bordered">
    <tr>
        <th>Sl No</th>
        <th>Date</th>
        <th>User Name</th>
        <th>Job Name</th>
        <th>Rating</th>
        <th>Review</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.USER.name }}</td>
        <td>{{ i.JOB.jobname }}</td>
        <td>{{ i.Rating }}</td>
        <td>{{ i.Review }}</td>


    </tr>

    {% endfor %}
</table>
</form>

{% endblock %}
